html{
    color: white;
    text-decoration: none;
    font-family: monospace;
    background-color: #14141f; 
}
header{
    color: #009900;
    text-align: center;
}
body{
    text-decoration: none;
}
#bash{
    color: white;
    text-align: center;
}
#things{
    color: white;
    text-align: left;
}
#soci{
    text-decoration: none;
    color: white;
    text-align: center;
}
#text{color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
#blink{
    font-size: 12px;
    text-align: center;
    color: white;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#blink2{font-size: 12px;
    text-align: center;
    color: #009900;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#terminal{
    text-align: center;
    color: #009900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#machineid{
    color: white;
    text-align: center;
    font-family: monospace;
}
#links a{
    text-decoration: none;
    color: white;
}
#animegirl{
    text-align: center;
}