html{
    text-decoration: none;
    font-family: monospace;
    background-color: #14141f; 
}
header{
    color: #009900;
    text-align: center;
}
#bash{
    color: white;
    text-align: center;
}
#things{
    color: white;
    text-align: left;
}
#social{
    text-decoration: none;
    color: white;
    text-align: left;
}
#date{
    text-align: center;
    color: white;
}
